<p id="notice"><%= notice %></p>

<p>
  <strong>Old supplier:</strong>
  <%= @base_supplier.old_supplier_id %>
</p>

<p>
  <strong>Code no:</strong>
  <%= @base_supplier.code_no %>
</p>

<p>
  <strong>Supplier name:</strong>
  <%= @base_supplier.supplier_name %>
</p>

<%= link_to 'Edit', edit_base_supplier_path(@base_supplier) %> |
<%= link_to 'Back', base_suppliers_path %>
