<p id="notice"><%%= notice %></p>

<h1><%= human_table_name %> 列表</h1>

<table>
  <thead>
    <tr>
<% attributes.reject(&:password_digest?).each do |attribute| -%>
      <th><%= human_column_name(attribute.name) %></th>
<% end -%>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%% @<%= plural_table_name %>.each do |<%= singular_table_name %>| %>
      <tr>
<% attributes.reject(&:password_digest?).each do |attribute| -%>
        <td><%%= <%= singular_table_name %>.<%= attribute.name %> %></td>
<% end -%>
        <td><%%= link_to '查看', <%= singular_table_name %> %></td>
        <td><%%= link_to '编辑', edit_<%= singular_table_name %>_path(<%= singular_table_name %>) %></td>
        <td><%%= link_to '删除', <%= singular_table_name %>, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <%% end %>
  </tbody>
</table>

<br>

<%%= link_to '添加 <%= human_table_name %>', new_<%= singular_table_name %>_path %> , 
<a href='/bulk/file_upload?table=<%= plural_table_name %>'>批量导入excel</a>

<%%= paginate @<%= plural_table_name %> %>
